*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  margin: 5px;
}

.card .avatar{
  text-align: center;
}

.card .avatar img{
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.card .info{
  margin: 5px;
}

.add{
  position: absolute;
  left: 35%;
  transition: all 0.3s ease;
  background-color: crimson;
  color: #fff;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}

input{
  width: 100%;
}

.update{
  position: absolute;
  width: 300px;
  top: 20%;
  left: 20%;
  padding: 20px;
  background-color: crimson;
  color: #fff;
}